.button {
    background: linear-gradient(to right, #8f302d, red);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    outline: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px; /* Adjust the value based on your preferred minimum width */
    max-height: 60px;
    position: relative;
    overflow: hidden;
    min-width: 60px;
    min-height: 30px;
  }
  
  @media (max-width: 768px) {
    .button {
      /* font-size: 1rem; 
      margin: 1rem; */
    }
  }
  
  .button:hover {
    background: linear-gradient(to right, #8f302d, red);
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .button:focus {
    color: black;
    background: white;
  }
  
  .lds-dual-ring {
    width: 0.7rem;
    height: 0.7rem;
    position: absolute; /* Position the spinner absolutely within the button */
    top: 50%; /* Center the spinner vertically */
    left: 50%; /* Center the spinner horizontally */
    transform: translate(-60%, -60%); /* Adjust for centering */
  }
  .lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }